<p id="notice"><%= notice %></p>

<h1>Contents</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>board_id</th>
      <th>Post</th>
      <th>created_at</th>
      <th>User name</th>
      <th>Email</th>
      <th>IPv4</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.id %></td>
        <td><%= content.board_id %></td>
        <td><%= content.post %></td>
        <td><%= content.created_at %></td>
        <td><%= content.user_name %></td>
        <td><%= content.email %></td>
        <td><%= content.ipv4 %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
