
<%= form_with(model: content, local: true) do |form| %>
  <div class="field">
    <%= form.label :post %>
    <%= form.text_area :post, required: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :board_id, value: @content.board_id %>
  </div>

  <div class="field">
    <%= form.label :user_name, "名前:" %>
    <%= form.text_field :user_name, value: @user_name_from_cookie %>
  </div>

  <div class="field">
    <%= form.label :email, "E-mail(省略可):" %>
    <%= form.text_field :email, value: @email_from_cookie %>
  </div>

  <div class="actions">
    <%= form.submit "書き込む" %>
  </div>
<% end %>
